body {
  font-family: "Ruluko", sans-serif;
  background: #f1ade7;
  background: url(./imagem/fotocapa.png) no-repeat;
  background-position: right bottom;
  background-size: 250px 440px;
  mix-blend-mode: normal;
}

header {
  font-size: 20px;
  background: rgba(247, 4, 164, 0.1);
  padding: 2px;
}

header img {
  width: 22%;
  height: 12%;
  margin: auto;
  display: block;
  animation: aparecer 4s;
}

/*FORMATAÇÃO PARA DROPDOWN*/
li {
  width: 120px;
  position: relative;
  text-align: center;
}

ul li ul {
  position: relative;
  top: 50px;
  left: 0px;
  display: none;
  padding: 0;
}


.dropdown-menu li {
  width: 220px;
  margin: 10px;
}

.dropdown:hover .dropdown-menu {
  display: inline-block;
  background: white;
  border: solid 5px rgb(231, 6, 194);
  border-radius: 50px;
}

nav {
  display: flex;
  border-top: solid white 10px;
  list-style-type: none;
  align-items: center;
  animation: aparecer 4s;
}

nav ul li {
  margin: 10px;
  display: inline-block;
  margin-inline-end: 120px;
}

nav ul li a:hover {
  cursor: pointer;
  background-color: rgb(230, 119, 156);
  padding: 5px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}


/*HOME PAGE*/

#p1 {
  text-align: center;
  animation: texto-deslizante 6s infinite;
}

#p2 {
  text-align: center;
  animation: texto-deslizante 6s infinite;
  animation-delay:2s;
}
#p3 {
  
  text-align: center;
  animation: texto-deslizante 6s infinite;
  animation-delay: 3s;
  

}

#home p {
  font-size: 30px;
  text-align: center;
  margin-left: 0px;
  margin-bottom: 60px;
  width: 180px;
}

#capa {
  width: 90px;
  height: 134px;
}

#home {
  display: flex;
  justify-content: space-between;
  padding: clamp(50px, 30px, 30px);
  width: 900px;
}


/*FORMATAÇÃO DO FOOTER*/


footer {
  display: flex;
  font-size: 20px;
  background: rgba(247, 4, 164, 0.17);
  justify-content: space-between;
  animation: upFooter 1s;
  
}

footer a {
  text-decoration: none;
  
}



footer img {
  width: 50px;
  height: 50px;
}

#endereço {
  margin: 20px 70px 0px 0px;
  display: flex;
  max-height: 100px;
}

#endereço p {
  margin: 5px 5px 20px 10px;
}

#contato {
  margin-left: 10px;
}

#insta {
  display: inline-flex;
}

#wts {
  display: inline-flex;
}


/*FORMATAÇÃO PARA CELULAR*/

@media (max-width: 572px) {
  body {
    background: none;
  }

  #home {
    background-position: center;
  }

  header {
    font-size: 10px;
  }

  footer {
    font-size: 10px;
  }

  footer img {
    width: 20px;
    height: 20px;
  }

  #contato {
    margin-top: 20px;
  }
}
