body {
    font-family: 'Nunito', sans-serif;
    background-image: linear-gradient(to bottom right,  rgb(238, 188, 205), white, white,white, rgb(238, 188, 205) );

}

#headerFlex {
  display: flex;
}

#logoAcima {
  position: absolute;
  width: 1000px;
  height: 40px;
  left: 200px;
  top: 5px;
}

#logoAbaixo {
  position: absolute;
  width: 1000px;
  height: 40px;
  left: 200px;
  top: 90px;
}

#headerFlex h1 {
    font-size: 30px;
    margin-left: 10px;
    animation: aparecer 4s;
    
}



/*FORMATAÇÃO PARA DROPDOWN*/

li {
  width: 100px;
  position: relative;
  text-align: center;
}

ul li ul { /*Acrescentei o z-index: 1; e diminuí o top  */
  position: absolute;
  top: 40px;
  left: -30px;
  display: none;
  z-index: 1;
  padding: 0;
}

.colorir:hover{ /*Adicionei para colorir o texto o link como um quadrado completo*/
  cursor: pointer;
  background-color: rgb(230, 119, 156);
  padding: 5px;
}

.dropdown-menu li {
  width: 220px;
  margin: 10px;
}

.dropdown:hover .dropdown-menu {
  display: inline-block;
  background: white;
  border: solid 5px #e706c2;
  border-radius: 50px;
}


nav {
  display: flex;
  list-style-type: none;
  align-items: center;
  animation: aparecer 4s;
  
  
}

nav ul li {
  margin: 10px;
  display: inline-block;
  margin-inline-end: 120px;
}

nav ul li a:hover {
  cursor: pointer;
  background-color: rgb(230, 119, 156);
  padding: 5px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

/*FORMATAÇÃO MAIN*/

main {
    text-align: center;
    font-size: 20px;
    animation: aparecer 4s;
}
 


article > section {
    display: flex;
    margin: 100px;
    
}


section > img {
    width: 300px;
    height: 250px;
}

.homeTexto {
    width: 500px;
    padding-right: 200px;
    padding-left: 200px;
    
}

#topo {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
}

main h5:hover {
  background-color: #e706c2;
}

#agende img:hover {
  height: 150px;

}

#local {
  position: absolute;
  justify-content: right;
  margin: 150px 0 0px 950px;
}

#local iframe {
  width:350px;
  height:200px;
  border-radius: 30px;
  border: solid;
  border-style: dashed;
  border-color: #e706c2;
}


/*FORMATAÇÃO FOOTER*/
footer {
  display: flex;
  font-size: 20px;
  background: rgba(247, 4, 164, 0.17);
  justify-content: space-between;
  animation: upFooter 1s;
}

footer a {
  text-decoration: none;
}


footer img {
  width: 50px;
  height: 50px;
}

#endereço {
  margin: 20px 70px 0px 0px;
  display: flex;
  max-height: 100px;
}

#endereço p {
  margin: 5px 5px 20px 10px;
}

#contato {
  margin-left: 10px;
}

#insta {
  display: inline-flex;
}

#wts {
  display: inline-flex;
}
